.home__icon1 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
}
.home__icon2 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 2s;
}
.home__icon3 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 10s;
}

.home__icon4 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 5s;
}
.home__icon5 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 4s;
}
.home__icon6 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
}
.home__icon7 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 8s;
}
.home__icon8 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 5s;
}
.home__icon9 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 1s;
}
.home__icon10 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
}
.home__icon11 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 3s;
}
.home__icon12 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-delay: 10s;
}
.home__icon13 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 4s;
}
.home__icon14 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-delay: 5s;
}

.home__icon15 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 10s;
}
.home__icon16 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 7s;
}
.home__icon17 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 8s;
}
.home__icon18 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 3s;
}
.home__icon19 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 5s;
}
.home__icon20 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-delay: 12s;
}
.home__icon21 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 6s;
}

.home__icon22 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 9s;
}
.home__icon23 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 11s;
}
.home__icon24 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-delay: 10s;
}
.home__icon25 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 11s;
  animation-delay: 8s;
}
.home__icon26 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 3s;
}
.home__icon27 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 5s;
}
.home__icon28 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 8s;
}

.home__icon29 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 10s;
}
.home__icon30 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 12s;
}
.home__icon31 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 3s;
}
.home__icon32 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 13s;
  animation-delay: 5s;
}
.home__icon33 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-delay: 5s;
}
.home__icon34 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-delay: 5s;
}
.home__icon35 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 5s;
}

.home__icon36 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-delay: 5s;
}
.home__icon37 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 5s;
}
.home__icon38 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 5s;
}
.home__icon39 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 5s;
}
.home__icon40 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 11s;
  animation-delay: 5s;
}
.home__icon41 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 3s;
}
.home__icon42 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 5s;
}

.home__icon43 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 1s;
}
.home__icon44 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
}
.home__icon45 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 3s;
}
.home__icon46 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 4s;
}
.home__icon47 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 6s;
}
.home__icon48 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 7s;
}
.home__icon49 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 8s;
}

.home__icon50 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 9s;
}
.home__icon51 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
}
.home__icon52 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 3s;
}
.home__icon53 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 5s;
}
.home__icon54 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 4s;
}
.home__icon55 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 8s;
}
.home__icon56 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 8s;
}

.home__icon57 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 9s;
}
.home__icon58 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 3s;
}
.home__icon59 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-delay: 9s;
}
.home__icon60 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 13s;
  animation-delay: 4s;
}
.home__icon61 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 3s;
}
.home__icon62 {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(213, 213, 249);
  width: 100%;
  height: 100vh;
  position: relative;
  animation-name: example;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s;
}