@keyframes example {
  from {
    top: -100px;
  }
  10% {
    left: 20px;
    right: 20px;
  }
  15% {
    left: 20px;
    right: 20px;
  }
  20% {
    color: white;
  }
  25% {
    left: 20px;
    right: 40px;
  }
  30% {
    left: 50px;
    right: 50px;
  }
  35% {
    left: 25;
    right: 50px;
  }
  40% {
    left: 10px;
    right: 20px;
  }
  45% {
    left: 20px;
    right: 20px;
  }
  50% {
    left: 10px;
    right: 20px;
  }
  55% {
    left: 20px;
    right: 20px;
  }
  60% {
    left: 50px;
    right: 20px;
  }
  65% {
    left: 20px;
    right: 20px;
  }
  70% {
    left: 20px;
    right: 20px;
  }
  75% {
    left: 20px;
    right: 20px;
  }
  80% {
    color: white;
  }
  85% {
    left: 20px;
    right: 20px;
  }
  90% {
    left: 20px;
    right: 20px;
  }
  95% {
    left: 25px;
    right: 30px;
  }
  to {
    top: 700px;
  }
}


@keyframes person {
  from {
    left: 0%;
    display: none;
  }
  1% {
    display: block;
  }
  90% {
    left: 90%;
  }
  to {
    width: 90%;
    display: none;
  }
}